<!DOCTYPE html>
<html lang="en">


<head>
    <%- include("./common/header.ejs") %>
        <title> درباره ما</title>
        <link rel="stylesheet" href="/style/main.css" />
</head>

<body>
    <%- include("./common/_navbar_.ejs") %>
        <div class="w-100 d-flex column justify-content-center align-content-center flex-wrap">
            <p class="p-4 text-primary">
                در صفحه «درباره ما» سایت آدیداس شما به یک سفر گرافیکی توسط تاریخچه شرکت می‌روید. این یک روش بسیار خوب و
                منحصر به
                فرد است که به افراد آنچه را که شرکت انجام می‌دهد نشان می‌دهد. در صفحه درباره ما آدیداس اطلاعات زیادی
                می‌توان
                پیدا کرد؛ از تاریخچه برند، از استراتژی‌ها و برندهای مختلف تحت آدیداس را در این صفحه پروفایل می‌توان
                یافت.
                علی
                رغم همه این اطلاعات ظاهر کم را حفظ کرده است. بنابراین می‌توانید خلاق باشید. از این رو یک گرافیک فوق
                العاده
                می‌تواند یک تجربه کاربری باور نکردنی را منجر شود. اگر می‌خواهید اینکار را انجام دهید پیشنهاد می‌شود که
                تنها
                در
                بخشی از صفحه و نه در کل صفحه استفاده کنید؛ به این دلیل که ممکن است در زمانیکه شما به دنبال اسکن اطلاعات
                به
                طور
                سریع هستید آزار دهنده باشد.. بدین ترتیب می‌توانید مطمئن می‌شوید در صورتی که گرافیک عمل نکند (نشان داده
                نشود)
                افراد می‌توانند موار دیگر را دریافت کنند.
            </p>
            <div>
                <img class="w-100" src="https://ts1.tarafdari.com/contents/user109292/content-sound/team1.jpg"
                    alt="team">
                <%- include("./common/bootstrapScript.ejs") %>
            </div>
        </div>
        <script src="/script/home.js"></script>
</body>

</html>